/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
}

.text-light-gray {
  color: #727272;
}

.section-title {
  font-size: 2.8125rem;
  color: #131313;
  font-weight: 700;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  background: #ff900e;
  padding: 20px 25px;
  margin: 32px auto;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 11.86rem;
  height: 64px;
  transition: 0.4s;
}

.btn-primary:hover {
  font-size: 1.3rem;
  color: #ff900e;
  border: 2px solid #ff900e;
  outline: none;
  background: none;
}

/* menu item */
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1.875rem;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner */
.banner-content {
  max-width: 53.875rem;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  line-height: normal;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  line-height: 1.625rem;
}

.banner > img {
  width: 100%;
  margin-top: 20px;
}

/* main section */
main {
  max-width: 1440px;
  margin: 85px auto 130px auto;
  /* padding: 70px 0; */
}

/* teams section */
.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding: 0 70px;
}

.teams-title {
  font-size: 2.8rem;
  margin: 0 auto;
}

.quick-list {
  font-weight: 500;
  color: #727272;
}

.of-our {
  font-weight: 700;
  color: #131313;
}

.text-features {
  font-weight: 700;
  color: #ff900e;
}

/* facts section */
.facts-card-container{
  display: flex;
  justify-content: space-around;
}


.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}

.facts-card-container .chard-stats {
  font-size: 2.8125rem;
  color: #424242;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}


.facts-card-container .card-title {
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsors section */
.sponsors {
  text-align: center;
}

.sponsors-images-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  gap: 20px;
}

.sponsors-images-container img {
  width: 165px;
}