/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  background: #ff900e;
  padding: 20px 25px;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  width: 11.86rem;
  height: 64px;
  transition: 0.4s;
}

.btn-primary:hover {
  font-size: 1.3rem;
  color: #ff900e;
  border: 2px solid #ff900e;
  background: none;
}

/* menu item */
.nav-title {
  font-size: 2.8125rem;
  color: #131313;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1.875rem;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner */
.banner-content {
  max-width: 53.875rem;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  line-height: normal;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  line-height: 1.625rem;
}

.banner > img {
  width: 100%;
  margin-top: 20px;
}

/* responsive media queries */
/* mobile devises */
@media only screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    header > nav {
        flex-direction: column;
    }
}

/* tablet or medium devises */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    
    header > nav {
        flex-direction: column;
    }
}